.trendingContainer {
    width: 1300px;
    height: 600px;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.slideshowMoviesContainer {
    background-color: transparent;
    height: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(128, 128, 128, 0.185), transparent);
    padding: 20px;
}

.slideshowMoviesTitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;
    color: rgb(245, 197, 24);
    margin-bottom: 20px;
}

.trendingContainerRight {
    height: 550px;
    overflow-y: hidden;
}

.slideshowMoviesFooter{
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.slideshowMoviesFooter:hover {
    color: rgb(245, 197, 24);
    cursor: pointer;
}

@media(max-width: 1024px) {
    .trendingContainer {
        width: 1024px;
    }
    .trendingContainerRight {
        display: none;
    }
}

@media(max-width: 768px) {
    .trendingContainer {
        width: 768px;
        height: 550px;
    }
}

@media(max-width: 425px) {
    .trendingContainer {
        width: 425px;
        height: 550px;
    }
}