.sidebarMenu {
    background-color: transparent;
    width: 50px;
    height: 100%;
}

.sidebarMenu * {
    background-color: transparent;
}

.sidebarMenuHamburgerContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.sidebarMenuHamburger {
    height: 2px;
    width: 20px;
    background-color: white;
}

.sidebarMenuContainer {
    background-color: rgb(43, 43, 43);
    width: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    z-index: 5;
    opacity: 0;
    left: 0;
    transition: width 0.2s linear;
}

.activeSidebarMenuContainer {
    background-color: rgb(25, 25, 25);
    height: 100vh;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    z-index: 5;
    opacity: 1;
    left: 0;
    white-space: nowrap;
    transition: width .1s ease;
    top: 72px;
}

.sidebarMenuCategory {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.sidebarCategoryIcon {
    color: white;
    flex-shrink: 0;
}

.sidebarCategoryHeading {
    color: white;
}

.sidebarMenuClose {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.sidebarCloseButton {
    color: white;
    width: 24px;
    height: 24px;
}

.sidebarMenuCategoryWrapper {
    display: flex; 
    justify-content: space-between;
    cursor: pointer;
}

.sidebarMenuCategoryArrow {
    color: white;
}