.sidebarMenuListAwardsContainer {
    background-color: transparent;
    height: auto;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgb(78, 78, 78);
    margin-bottom: 20px;
}

.sidebarMenuListItems {
    background-color: transparent;
}

.sidebarMenuListItems li {
    background-color: transparent;
    color: white;
    list-style: none;
    margin-bottom: 22px;
    font-weight: 500;
}