.OptionBar {
    width: 250px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    background-color: rgb(43, 43, 43);
    margin-right: 20px;
}

.LaguangeHeading {
    background-color: transparent;
    font-size: 13px;
    padding: 20px 0px 10px 20px;
    color: white;
}

.LaguangeContainer {
    background-color: transparent;
    padding: 0;
}

.SupportedLaguange {
    color: white;
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid rgb(78, 78, 78);
    border-top: 1px solid rgb(78, 78, 78);
}

.SupportedLaguange:hover {
    background-color: rgb(70, 70, 70);
}

.Laguange {
    color: white;
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
}

.Laguange:hover {
    background-color: rgb(70, 70, 70);
}
