.Search-box {
    background-color: white;
    display: flex;
    border-radius: 5px;
}

.Left-side-search {
    background-color: transparent;
    height: 30px;
    width: 50px;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Left-side-search label {
    background-color: transparent;
    cursor: pointer;
}

.Arrow-icon {
    color: white;
}

.searchIconContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

.searchIcon {
    background-color: transparent;
}

.Search-filter {
    background-color: rgb(43, 43, 43);
    height: 250px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 60px;
    margin-left: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    overflow-y: hidden;
}

.activeSearchFilter {
    background-color: rgb(43, 43, 43);
    height: 250px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 60px;
    margin-left: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    z-index: 5;
    opacity: 1;
    visibility: visible;
    transform: translateY(2%);
    transition: 0.15s;
}

.Filter-container {
    background-color: transparent;
}


.Filter-category {
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 7px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.Filter-category:hover {
    background-color: rgb(70, 70, 70);
}

.Category-text {
    color: white;
    background-color: transparent;
}

svg {
    color: rgb(121, 121, 121);
}

.Filter-category:hover svg {
    color: white;
    transition: 0.2s ease;
}

@media(max-width: 1024px) {
    #search {
        width: 300px;
    }
    .Search-filter {
        left: 0;
    }
}

@media(max-width: 768px) {
    .Search-box {
        order: 2;
    }
    .Search-filter {
        margin-left: 150px;
    }
}

@media(max-width: 425px) {
    .Search-box {
        background-color: transparent;
    }
    .Left-side-search {
        display: none;
    }
    .Right-side-search {
        display: none;
    }
    .searchIconContainer {
        background-color: transparent;
        padding: 0;
    }
    .searchIcon {
        color: white;
    }
}