.actorsContainer {
    width: 100vw;
    height: 400px;
    background-color: transparent;
}

.actorsProfilesContainer {
    display: flex;
    background-color: transparent;
    gap: 25px;
    position: relative;
    @media(max-width: 768px) {
        gap: 10px;
    }
}

.actorsContainerHeading {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5rem;
    border-left: 2px solid rgb(245, 197, 24);
    padding-left: 10px;
    margin-bottom: 10px;
}

.actorsContainerSubheading {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);    
    margin-bottom: 10px;
}

.actorsProfilesContainerButton {
    background-color: transparent;
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 25%;
    @media(max-width: 425px) {
        width: 92%;
    }
}

.actorsProfilesContainerButton:hover {
    cursor: pointer;
    .actorsProfilesButtonIcon {
        color: rgb(245, 197, 24);
        transition: 0.2s ease;
    }
}

.actorsProfilesButtonIcon {
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 20px 10px 20px 10px;
    border: 1px solid white;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
}