.actorsContainer {
    width: 1300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-left: auto;
}

.actorsProfilesWrapper {
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actorsContainerHeading {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5rem;
    border-left: 2px solid rgb(245, 197, 24);
    padding-left: 10px;
    margin-bottom: 10px;
}

.actorsContainerSubheading {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);    
    margin-bottom: 10px;
}

.swiper-button-next {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
}

.swiper-button-next:hover {
    color: rgb(245, 197, 24);
    transition: 0.2s ease;
}

.swiper-button-prev:hover {
    color: rgb(245, 197, 24);
    transition: 0.2s ease;
}

.swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
}

.actorsProfilesContainerContent {
    display: flex;
    gap: 20px;
}

@media(max-width: 1024px) {
    .actorsContainer {
        width: 1024px;
    }
}

@media(max-width: 768px) {
    .actorsContainer {
        width: 768px;
    }
}

@media(max-width: 425px) {
    .actorsContainer {
        width: 425px;
    }
}