.boxOfficeContainer {
    height: 400px;
    width: 1300px;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
}

.boxOfficeContent {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
}

.boxOfficeNumber {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
    padding-right: 10px;
    border-right: 1px solid rgb(245, 197, 24);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxOfficeHeading {
    background-color: transparent;
    font-size: 2rem;
    color: rgb(245, 197, 24);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.boxOfficeSubheading {
    color: white;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-left: 3px solid rgb(245, 197, 24);
    padding-left: 10px;
    margin-bottom: 30px;
}

.boxOfficeCardsWrapper {
    display: flex;
    justify-content: space-between;
}

.boxOfficeCardContentLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
}

.boxOfficeCardContentRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}

@media(max-width: 1024px) {
    .boxOfficeContainer {
        width: 1024px;
    }
}

@media(max-width: 768px) {
    .boxOfficeContainer {
        width: 768px;
        height: 400px;
        margin-top: 60px;
    }
    .boxOfficeHeading {
        margin-bottom: 25px;
    }
}

@media(max-width: 425px) {
    .boxOfficeContainer {
        width: 425px;
        height: 550px;
        margin-bottom: 40px;
    }
    .boxOfficeCardsWrapper {
        flex-direction: column;
        gap: 30px;
    }
    .boxOfficeCardContentRight {
        margin-left: 0;
    }
    .boxOfficeCardContentLeft {
        margin-right: 0;
    }
    .boxOfficeHeading {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 30px;
    }
}