.trendingMoviesContainer {
    height: 490px;
    width: 100vw;
    background-color: transparent;
    @media(max-width: 768px) {
        width: 700px;
    }
    @media(max-width: 425px) {
        width: 400px;
    }
}

.trendingMoviesContentWrapper {
    display: flex;
    background-color: transparent;
    gap: 25px;
    position: absolute;
}

.trendingMoviesTitle {
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-left: 2px solid rgb(245, 197, 24);
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 600;
}

.trendingMoviesContentWrapperButtonContainer {
    background-color: transparent;
    width: 570px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 25%;
    margin-left: 15px;
    @media(max-width: 425px) {
        width: 100%;
    }
}

.trendingMoviesContentWrapperButtonContainer:hover {
    cursor: pointer;

    .whatToWatchContentWrapperButtonIcon {
        color: rgb(245, 197, 24);
        transition: 0.2s ease;
    }
}

.trendingMoviesContentWrapperButtonIcon {
    color: white;
    position: absolute;
    z-index: 5;
    padding: 20px 10px 20px 10px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.432);
}