.trendingMoviesContainer {
    height: 490px;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

.trendingMoviesContentWrapper {
    background-color: transparent;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trendingMoviesTitle {
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-left: 3px solid rgb(245, 197, 24);
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: 500;
}

.swiper-button-next {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
}

.swiper-button-next:hover {
    color: rgb(245, 197, 24);
    transition: 0.2s ease;
}

.swiper-button-prev:hover {
    color: rgb(245, 197, 24);
    transition: 0.2s ease;
}

.swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 20px 10px 20px 10px;
    border-radius: 3px;
}

.trendingMoviesCardsContainerContent {
    display: flex;
    gap: 20px;
}

@media(max-width: 1024px) {
    .trendingMoviesCardsContainerContent {
        gap: 10px;
    }
}

@media(max-width: 425px) {
    .trendingMoviesContainer {
        width: 425px;
    }
}